* {
    box-sizing: border-box;
}

html, body {
    background: black;
    color: #00b800;
    margin:0;
    padding: 0;
    padding-top: 10px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

body {
    font-weight: 400;
    font-size: 2rem;
}

button {
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin: 0 auto;
    border: none;
    background: #00b800;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 9px;
    font-weight: bolder;
}


h1 {
    font-size: 2.5rem;
    text-align:center;
    text-transform: uppercase;
}

textarea {
    font-family: 'Press Start 2P', cursive;
    border: 3px solid black;
    width: 75%;
    margin: 0 auto;
    outline: none;
    height: 200px;
    background: #00b800;
    padding: 10px;
    font-size: 1.2rem;
}


